<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISortingService" 
                         transferMode="StreamedResponse"
                         maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"
                         openTimeout="12:00:00" receiveTimeout="12:00:00" closeTimeout="12:00:00" sendTimeout="12:00:00"
                         />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49172/SortingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISortingService"
                contract="ConsoleClientServiceReference.ISortingService" name="BasicHttpBinding_ISortingService" />
        </client>
    </system.serviceModel>
</configuration>